@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(16, 77, 152);
}

@layer components {
  .card {
    padding: 1em;
    color: white;
    width: 500px;
    height: 500px;
    background-color: rgb(5, 23, 107);
    border: solid 2px rgb(1, 145, 217);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all linear 100ms;
  }

  .card:hover {
      transform: scale(1.1);
  }
  
  .card img {
    width: 100%;
    height: 45%;
    object-fit: contain;
  }
  
  .text-into {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
  }
  
  .text-into > p:first-of-type {
    font-weight: 600;
  }
}
